.cards {
  border: 2px solid #0b5ed7;
  border-radius: 10px;
}

.content {
  padding: 10px;
}

.img {
  border-radius: 10px 10px 0 0;
}

.badgec {
  z-index: 3;
  right: 20px;
  top: 10px;
  font-size: 17px;
}

.badgef {
  right: 50px;
  top: 10px;
  font-size: 17px;
}

.imga {
  height: 10px;
  width: 10px;
}

.carda {
  background: rgba(99, 114, 255, 0.8);
} 
